html, body {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
position: relative;
overflow-x: hidden;
}

.flex {
  display: flex;
}

.icons {
  width: 33px;
  height: 33px;
  margin-left: 5px;
  padding-top: 5px;
  border-radius: 25px;
}

.center {
  justify-content: center;
  align-items: center;
}

.op-image {
  width: 100%;
  max-height: 100%;
}

.dropdown {
  display: block;
  position:absolute;
  overflow: auto;
}

.dropdown-content {
  display: none;
  background: rgba(81, 80, 80, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  overflow: auto;
}

.dropdown-content a {
  color: rgb(233, 237, 233);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.selection-content {
  border-bottom: 1px solid rgb(101, 98, 98);
}

.gap {
  gap: 20px;
}


.dropdown-content :hover {
  background-color: rgb(180, 184, 184);
} 

.show {display:block;}
